</header>
<div id="side">
    <img src="img/coding.png" alt="logo">
    <nav role="navigation">
        <ul class="primaryNavigation">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/">PlaceHolder</a>
            </li>
        </ul>
    </nav>
</div>
<header>