<div id="side">
    <ul>
		<li>
			<a href="/">menu.ejs</a>
        </li>
        <li>
            <a href="/">PlaceHolder</a>
        </li>
        <li>
            <a href="/">PlaceHolder</a>
        </li>
	</ul>
</div>