<%- include ("partials/head.ejs") %>
<%- include ("partials/menu.ejs") %>
<main>
    <p>
        yeet
    </p>
</main>
<%- include ("partials/footer.ejs") %>
<%- include ("partials/after-footer.ejs") %>