<div id="side">
    <ul>
		<li>
			<a href="/">Home</a>
        </li>
        <li>
            <a href="/produkter">Produkter</a>
        </li>
        <li>
            <a href="/kontakt">Kontakt</a>
        </li>
	</ul>
</div>